<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429856138813-lao3fdhg7ct19hc959flstfnb0i2vpp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429856138813-lao3fdhg7ct19hc959flstfnb0i2vpp9</string>
	<key>API_KEY</key>
	<string>AIzaSyCwJcGVcIBJrEcMql55QoUqB7AHX3m5Ch0</string>
	<key>GCM_SENDER_ID</key>
	<string>429856138813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drl.drreddysdirect</string>
	<key>PROJECT_ID</key>
	<string>drreddysdirect-2e299</string>
	<key>STORAGE_BUCKET</key>
	<string>drreddysdirect-2e299.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429856138813:ios:2bfe3e1f6e78afa4e92c54</string>
</dict>
</plist>